@model JobOffersWebsite.Models.ApplyForJob

<section class="container edit-job-application pt-5 mt-5">

    @using (Html.BeginForm("ApplicationJobEdit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Your Job Application</h4>
            <h4 style="color:red;">@Model.Job.JobTitle</h4>
            <hr />
            <div class="alert alert-danger" id="error-div" style="display:none;">
                <span id="view-error">

                </span>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserCv)

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserCv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="uploadedCv" id="uploaded-cv" />

                    @Html.ValidationMessageFor(model => model.UserCv, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" id="save" class="btn btn-outline-info mr-4" />
                    @Html.ActionLink("Back to List", "MyJobs", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    }


</section>



@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {
                // Check if the image is not null
                if ($("#uploaded-cv").val() != "") {
                    $("#error-div").fadeIn();
                    $("#view-error").remove();
                    $("#error-div").append('<span id="view-error">Please Upload Your CV</span>');

                    // Check if the image extension is valid
                    var fileName = document.getElementById("uploaded-cv").value;
                    var extension = fileName.substr(fileName.lastIndexOf(".") + 1);
                    var validExtensions = ['pdf', 'jpeg', 'jpg', 'png', 'docs', 'docx'];
                    if ($.inArray(extension, validExtensions) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-error").remove();
                        $("#error-div").append('<span id="view-error">Upload a CV with valid extension</span>');
                        return false;
                    }
                    var fileSize = document.getElementById("uploaded-cv").files[0].size / 1024 / 1024;
                    if (fileSize > 2) {
                        $("#error-div").fadeIn();
                        $("#view-error").remove();
                        $("#error-div").append('<span id="view-error">Upload a CV with less than 2 MB</span>');
                        return false;
                    }
                }
            });
        });
    </script>
}